:root {
  font-family: "Public Sans", -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  /* background-image: url("assets/yggdrasil-bg.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover; */
  background: linear-gradient(142deg, rgb(159, 89, 120) 0%, #537193, 100%);
}
